@use "../abstracts/mixins" as m;



#contactDiv {
    @include m.contactDiv;
}

.lastDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}